@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(
    var(--bs-dark-rgb),
    var(--bs-bg-opacity, 100%)
  ) !important;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app > nav + * {
  flex: 1;
}
